.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 10px;
  column-gap: 20px;
  row-gap: 50px;
}

.category-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
